@charset "UTF-8";
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    min-width: 320px;
    margin: 0;
    padding: 0
}

ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
blockquote,
figure,
form,
fieldset,
input,
legend,
pre,
abbr,
button {
    margin: 0;
    padding: 0
}

fieldset,
iframe,
img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input,
select {
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
}

article,
aside,
footer,
header,
nav,
main,
section,
summary,
details,
hgroup,
figure,
figcaption {
    display: block
}

audio,
canvas,
video,
progress {
    display: inline-block;
    vertical-align: baseline
}

pre,
code,
address,
caption,
th,
figcaption {
    font-size: 1em;
    font-weight: normal;
    font-style: normal
}

caption,
th {
    text-align: left
}

select {
    cursor: pointer;
}

button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: inherit;
    overflow: visible;
    vertical-align: inherit
}

button:disabled {
    cursor: default
}

:focus {
    outline: none
}

::-moz-focus-inner {
    border: 0;
    padding: 0
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 105.75%;
    quotes: "„" "“"
}

body {
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.470601;
    letter-spacing: -.0223em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #1d1e27;
    color: #333
}

body,
input,
textarea,
select,
button {
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
    text-align: left
}

h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
    display: block;
    margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #fff
}

h1+*,
h2+*,
h3+*,
h4+*,
h5+*,
h6+* {
    margin-top: .8em
}

h1+h1,
h1+h2,
h1+h3,
h1+h4,
h1+h5,
h1+h6,
h2+h1,
h2+h2,
h2+h3,
h2+h4,
h2+h5,
h2+h6,
h3+h1,
h3+h2,
h3+h3,
h3+h4,
h3+h5,
h3+h6,
h4+h1,
h4+h2,
h4+h3,
h4+h4,
h4+h5,
h4+h6,
h5+h1,
h5+h2,
h5+h3,
h5+h4,
h5+h5,
h5+h6,
h6+h1,
h6+h2,
h6+h3,
h6+h4,
h6+h5,
h6+h6 {
    margin-top: .4em
}

p+h1,
ul+h1,
ol+h1,
p+h2,
ul+h2,
ol+h2,
p+h3,
ul+h3,
ol+h3,
p+h4,
ul+h4,
ol+h4,
p+h5,
ul+h5,
ol+h5,
p+h6,
ul+h6,
ol+h6 {
    margin-top: 1.6em
}

p+*,
ul+*,
ol+* {
    margin-top: .8em
}

ul,
ol {
    margin-left: 1.16583em
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin-top: 0;
    margin-bottom: 0
}

nav ul,
nav ol {
    margin: 0;
    list-style: none
}

li li {
    font-size: 1em
}

a {
    color: #68e1fd;
    transition: color .2s ease
}

a:link,
a:visited {
    text-decoration: none
}

a:hover {
    color: #03b8e2;
    text-decoration: underline;
}

a:active {
    text-decoration: none
}

p+a {
    display: inline-block
}

b,
strong {
    font-weight: 600
}

em,
i,
cite,
dfn {
    font-style: italic
}

sup {
    font-size: .6em;
    vertical-align: top;
    position: relative;
    bottom: -.2em
}

h1 sup,
h2 sup,
h3 sup {
    font-size: .4em
}

sup a {
    vertical-align: inherit;
    color: inherit
}

sup a:hover {
    color: #004D7F;
    text-decoration: none
}

sub {
    line-height: 1
}

abbr {
    border: 0
}

.visuallyhidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0
}

@media only screen and (min-width: 1069px) {
    .hidden-on-desktop {
        display: none !important
    }
}

@media only screen and (min-width: 736px) and (max-width: 1068px) {
    .hidden-on-tablet {
        display: none !important
    }
}

@media only screen and (max-width: 735px) {
    .hidden-on-phone {
        display: none !important
    }
}

.nowrap {
    display: inline-block;
    text-decoration: inherit;
    white-space: nowrap
}

.cursor-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab
}

.cursor-grabbing {
    cursor: move;
    cursor: -webkit-grabbing;
    cursor: grabbing
}

.text-center {
    text-align: center;
}

[hidden] {
    display: none;
}

.divider {
    display: block;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, .2)
}

.template-one div[data-red] {
    background: -webkit-linear-gradient(280deg, #fc5278, #fc274d);
    background: linear-gradient(280deg, #fc5278, #fc274d);
    color: rgba(255, 255, 255, 0.65)
}

.template-one div[data-blue] {
    background: -webkit-linear-gradient(225deg, #48c7f4, #008af2);
    background: linear-gradient(225deg, #48c7f4, #008af2);
    color: #94eafe
}

.template-one div[data-green] {
    background: -webkit-linear-gradient(225deg, #53dcc9, #4fb2b4);
    background: linear-gradient(225deg, #53dcc9, #4fb2b4);
    color: #c9fced
}

.template-one div[data-purple] {
    background: -webkit-linear-gradient(225deg, #bf32fb, #7830c4);
    background: linear-gradient(225deg, #bf32fb, #7830c4);
    color: #f7a8ff
}

.template-one p[data-red],
.template-one h1[data-red],
.template-one h2[data-red],
.template-one h3[data-red],
.template-one h4[data-red],
.template-one h5[data-red],
.template-one h6[data-red],
.template-one span[data-red] {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-image: -webkit-linear-gradient(280deg, #fc5278, #fc274d);
    background-image: linear-gradient(280deg, #fc5278, #fc274d)
}

.template-one p[data-blue],
.template-one h1[data-blue],
.template-one h2[data-blue],
.template-one h3[data-blue],
.template-one h4[data-blue],
.template-one h5[data-blue],
.template-one h6[data-blue],
.template-one span[data-blue] {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-image: -webkit-linear-gradient(140deg, #26c5ff, #054fe7);
    background-image: linear-gradient(140deg, #26c5ff, #054fe7);
}

.template-one p[data-green],
.template-one h1[data-green],
.template-one h2[data-green],
.template-one h3[data-green],
.template-one h4[data-green],
.template-one h5[data-green],
.template-one h6[data-green],
.template-one span[data-green] {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-image: -webkit-linear-gradient(225deg, #53dcc9, #4fb2b4);
    background-image: linear-gradient(225deg, #53dcc9, #4fb2b4)
}

.template-one p[data-purple],
.template-one h1[data-purple],
.template-one h2[data-purple],
.template-one h3[data-purple],
.template-one h4[data-purple],
.template-one h5[data-purple],
.template-one h6[data-purple],
.template-one span[data-purple] {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-image: -webkit-linear-gradient(225deg, #bf32fb, #7830c4);
    background-image: linear-gradient(225deg, #bf32fb, #7830c4)
}

.template-one p[data-grey],
.template-one h1[data-grey],
.template-one h2[data-grey],
.template-one h3[data-grey],
.template-one h4[data-grey],
.template-one h5[data-grey],
.template-one h6[data-grey],
.template-one span[data-grey] {
    color: #9092ae
}

.template-one p[data-lgrey],
.template-one h1[data-lgrey],
.template-one h2[data-lgrey],
.template-one h3[data-lgrey],
.template-one h4[data-lgrey],
.template-one h5[data-lgrey],
.template-one h6[data-lgrey],
.template-one span[data-lgrey] {
    opacity: 0.8
}

.template-one p[data-lblue],
.template-one h1[data-lblue],
.template-one h2[data-lblue],
.template-one h3[data-lblue],
.template-one h4[data-lblue],
.template-one h5[data-lblue],
.template-one h6[data-lblue],
.template-one span[data-lblue] {
    color: #68e1fd
}

.template-one p[data-dblue],
.template-one h1[data-dblue],
.template-one h2[data-dblue],
.template-one h3[data-dblue],
.template-one h4[data-dblue],
.template-one h5[data-dblue],
.template-one h6[data-dblue],
.template-one span[data-dblue] {
    color: #02baff
}

.template-one p[data-translucent],
.template-one h1[data-translucent],
.template-one h2[data-translucent],
.template-one h3[data-translucent],
.template-one h4[data-translucent],
.template-one h5[data-translucent],
.template-one h6[data-translucent],
.template-one span[data-translucent] {
    opacity: 0.5
}

.font-headline-big {
    font-size: 80px;
    font-weight: 600;
    font-family: inherit;
    line-height: 1.05;
    letter-spacing: -.015em
}

@media only screen and (max-width: 1068px) {
    .font-headline-big {
        font-size: 63px;
        font-weight: 600;
        font-family: inherit;
        line-height: 1.0624;
        letter-spacing: -.009em
    }
}

@media only screen and (max-width: 735px) {
    .font-headline-big {
        font-size: 47px;
        font-weight: 700;
        font-family: inherit;
        line-height: 1.08364;
        letter-spacing: -.003em
    }
}

.font-headline-regular {
    font-size: 49px;
    font-weight: 600;
    font-family: inherit;
    line-height: 1.04984;
    letter-spacing: -.016em
}

@media only screen and (max-width: 1068px) {
    .font-headline-regular {
        font-size: 49px;
        font-weight: 600;
        font-family: inherit;
        line-height: 1.0597;
        letter-spacing: -.009em
    }
}

@media only screen and (max-width: 735px) {
    .font-headline-regular {
        font-size: 36px;
        font-weight: 600;
        font-family: inherit;
        line-height: 1.08401;
        letter-spacing: -.004em
    }
}

.font-headline {
    font-size: 40px;
    font-weight: 600;
    font-family: inherit;
    line-height: 50px;
    letter-spacing: -.003em
}

@media only screen and (max-width: 1068px) {
    .font-headline {
        font-size: 32px;
        font-weight: 600;
        font-family: inherit;
        line-height: 37px
    }
}

@media only screen and (max-width: 735px) {
    .font-headline {
        font-size: 28px;
        font-weight: 600;
        font-family: inherit;
        line-height: 34px
    }
}

.font-headline-small {
    font-size: 32px;
    font-weight: 600;
    font-family: inherit;
    line-height: 1.25
}

@media only screen and (max-width: 1068px) {
    .font-headline-small {
        font-size: 28px;
        font-weight: 600;
        font-family: inherit;
        line-height: 1.27995
    }
}

@media only screen and (max-width: 735px) {
    .font-headline-small {
        font-size: 24px;
        font-weight: 600;
        font-family: inherit;
        line-height: 1.3
    }
}

.font-subtitle {
    font-weight: 400;
    font-size: 20px;
    font-family: inherit;
}

.font-caption {
    font-weight: 400;
    font-size: 14px;
    font-family: inherit;
}

.block-caption {
    max-width: 180px;
}

*+.block-caption {
    margin-top: 20px;
}

.template-one .area {
    padding-top: 139px;
    background-color: #1d1e27;
    color: #fff
}

.template-one .area.is-blank {
    background-color: #fff !important;
}

@media only screen and (max-width: 1068px) {
    .template-one .area {
        padding-top: 119px
    }
}

@media only screen and (max-width: 735px) {
    .template-one .area {
        padding-top: 89px
    }
}

.template-one .area-content,
footer#pagefooter::before {
    width: 1000px;
    margin-left: auto;
    margin-right: auto
}

@media only screen and (min-width: 1442px) {
    .template-one .area-content,
    footer#pagefooter::before {
        width: 1000px;
        margin-left: auto;
        margin-right: auto
    }
}

@media only screen and (max-width: 1068px) {
    .template-one .area-content,
    footer#pagefooter::before {
        width: 700px;
        margin-left: auto;
        margin-right: auto
    }
}

@media only screen and (max-width: 735px) {
    .template-one .area-content,
    footer#pagefooter::before {
        width: 88%;
        margin-left: auto;
        margin-right: auto
    }
}

.template-one .card-header {
    margin-bottom: 70px;
}

@media only screen and (max-width: 1068px) {
    .template-one .card-header {
        margin-bottom: 56px;
    }
}

@media only screen and (max-width: 735px) {
    .template-one .card-header {
        margin-bottom: 30px;
    }
}

.template-one .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 13px;
    overflow: hidden;
    color: #fdfdfd;
    background: #272835;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.05);
}

.template-one .card,
.template-one .card-wide .card-media,
.template-one .card-wide .card-content {
    min-height: 500px
}

.template-one .card-wide {
    margin-bottom: 24px
}

.template-one .card-narrow {
    width: 488px;
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.template-one .card-narrow.is-highlighted {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.template-one .card-wide:last-child,
.template-one .card-row:last-child {
    margin-bottom: 0
}

.template-one .card-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 20px
}

@media only screen and (max-width: 1068px) {
    .template-one .card,
    .template-one .card-wide .card-media,
    .template-one .card-wide .card-content {
        min-height: 500px
    }
    .template-one .card-wide {
        margin-bottom: 20px
    }
    .template-one .card-narrow {
        width: 340px;
    }
    .template-one .card-row {
        margin-bottom: 20px
    }
}

@media only screen and (max-width: 735px) {
    .template-one .card {
        height: auto;
        padding-bottom: 30px
    }
    .template-one .card,
    .template-one .card-wide .card-media,
    .template-one .card-wide .card-content {
        min-height: 0
    }
    .template-one .card-wide {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .template-one .card-narrow {
        width: 100%;
        margin-bottom: 20px;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
    .template-one .card-row {
        margin-bottom: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.template-one .card .card-content {
    position: relative;
    padding: 40px 50px
}

.template-one .card-narrow .card-content.is-compact {
    padding-top: 0 !important
}

@media only screen and (max-width: 1068px) {
    .template-one .card .card-content {
        padding: 40px 30px
    }
}

@media only screen and (max-width: 735px) {
    .template-one .card .card-content {
        padding: 0
    }
    .template-one .card-wide .card-content.is-compact {
        padding-top: 0 !important
    }
}

.template-one .card-wide .card-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    justify-content: center;
    width: 480px;
    padding: 40px 50px 40px 54px
}

.template-one .card-wide.is-swapped .card-content {
    padding: 40px 70px 40px 50px
}

@media only screen and (max-width: 1068px) {
    .template-one .card-wide .card-content,
    .template-one .card-wide.is-swapped .card-content {
        width: 336px;
        padding: 40px 30px
    }
}

@media only screen and (max-width: 735px) {
    .template-one .card-wide .card-content,
    .template-one .card-wide.is-swapped .card-content {
        width: 100%;
        padding: 40px 25px 0
    }
}

.template-one .card-narrow.is-highlighted.card-content :first-child {
    margin-top: 10px
}

.template-one .card-narrow .card-content {
    padding: 25px 50px 30px
}

@media only screen and (max-width: 1068px) {
    .template-one .card-narrow .card-content {
        padding: 25px 30px 30px
    }
}

@media only screen and (max-width: 735px) {
    .template-one .card-narrow .card-content {
        padding: 25px 25px 0
    }
    .template-one .card-narrow.is-higlighted .card-content {
        padding: 90px 25px 90px;
        margin-bottom: -50px
    }
}

.template-one .card-wide .card-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 520px
}

@media only screen and (max-width: 1068px) {
    .template-one .card-wide .card-media {
        width: 364px
    }
}

@media only screen and (max-width: 735px) {
    .template-one .card-wide .card-media {
        width: 100%
    }
    .template-one .card-wide .card-media {
        height: auto
    }
}

.template-one .card-media.has-body {
    padding: 60px 50px
}

.template-one .card-media.has-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 50px 85px
}

.template-one .card-media.has-body.is-aligned-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 60px 50px 85px
}

@media only screen and (max-width: 1068px) {
    .template-one .card-media.has-body {
        padding: 45px 35px
    }
    .template-one .card-media.has-body.is-aligned-bottom {
        padding: 45px 35px 55px
    }
}

@media only screen and (max-width: 735px) {
    .template-one .card-media.has-body {
        padding: 30px 25px
    }
    .template-one .card-media.has-body.is-aligned-bottom {
        padding: 30px 25px 40px
    }
}

.template-one .card-wide.is-swapped .card-media {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}

@media only screen and (max-width: 735px) {
    .template-one .card-wide.is-swapped .card-media {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0
    }
}

.elevated-button {
    display: block;
    width: 230px;
    max-width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    font-family: inherit;
    color: #fff;
    background-color: #02baff;
    border-radius: 14px;
    box-shadow: 0 8px 21px 0px rgba(2, 186, 255, 0.11);
    transition: .2s ease;
}

.elevated-button:hover {
    transform: scale(0.98);
    color: rgba(255, 255, 255, 0.8);
}

.elevated-button:active {
    transform: scale(0.94);
    box-shadow: 0 5px 10px 0px rgba(0, 118, 186, .4);
}

h1+.elevated-button,
h2+.elevated-button,
h3+.elevated-button,
h4+.elevated-button,
h5+.elevated-button,
h6+.elevated-button {
    margin-top: 60px
}

.elevated-button+p {
    margin-top: 10px
}

.picture {
    display: block;
    width: 100%;
    max-width: 300px;
    background-size: 100%;
    background-repeat: no-repeat
}

.picture::after {
    content: '';
    display: block;
    padding-bottom: 100%
}

@media screen and (min-width: 736px) {
    .card .card-media>.picture {
        height: 300px !important;
        background-position: center center
    }
}

@media screen and (max-width: 735px) {
    .card .card-media>.picture {
        max-width: 200px
    }
}

nav#pagenav {
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1000px;
    height: 40px;
    scrollbar-width: none;
    border-radius: 50px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    z-index: 100;
    transform-origin: left;
    transition: transform .2s ease-in-out, opacity .2s ease-in-out;
    will-change: transform
}

nav#pagenav::before {
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    background-color: #272835;
}

nav#pagenav::-webkit-scrollbar {
    display: none;
}

nav#pagenav>ul {
    display: flex;
    height: 100%;
    flex-direction: row;
    list-style: none;
    list-style-type: none;
}

nav#pagenav>ul>li {
    height: 100%;
}

nav#pagenav>ul>li>a {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 24px;
    border-radius: 50px;
    text-align: center;
    color: inherit;
    text-decoration: none !important;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
    text-overflow: ellipsis;
}

nav#pagenav>ul>li>a::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 50px;
    background-color: #fff;
    opacity: 0.04;
    transition: opacity 0.2s ease;
}

nav#pagenav>ul>li:hover>a::before {
    opacity: 0.12;
}

nav#pagenav>ul>li>a>span {
    display: inline-block;
    text-decoration: inherit;
    white-space: nowrap
}

nav#pagenav>ul>li>a.local-link-active {
    background-color: #fff;
    color: #111;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.35);
    transform: scale(1.01);
}

nav#pagenav a.link-home {
    background-image: url("../images/icons/logo-link.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 40px
}

nav#pagenav a.link-action {
    color: #68e1fd;
}

@supports (-webkit-backdrop-filter: blur(10px)) {
    nav#pagenav::before {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(46, 50, 72, 0.6);
    }
}

@supports (backdrop-filter: blur(10px)) {
    nav#pagenav::before {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba(46, 50, 72, 0.6);
    }
}

@media only screen and (min-width: 1442px) {
    nav#pagenav {
        margin-left: auto;
        margin-right: auto;
        max-width: 975px
    }
}

@media only screen and (max-width: 1068px) {
    nav#pagenav {
        margin-left: auto;
        margin-right: auto;
        max-width: 700px
    }
}

@media only screen and (max-width: 735px) {
    nav#pagenav {
        top: 8px;
        margin-left: auto;
        margin-right: auto;
        max-width: calc(100% - 40px);
        height: 40px;
        font-size: 16px
    }
    nav#pagenav.is-hidden {
        transform: translateY(-50%) translateX(-50%);
        opacity: 0
    }
    nav#pagenav>ul>li>a {
        padding: 0 16px
    }
    nav#pagenav>ul>li>a::before {
        width: calc(100% - 10px)
    }
}

@media screen and (max-width: 500px) {
    nav#pagenav {
        overflow-x: scroll;
    }
}

#main {
    margin-bottom: 20px;
}

#main figure#logo {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

#main .area-hero {
    position: relative;
    background-color: #1d1e27;
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
    padding-bottom: 80px;
}

#main .area-hero::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, .1)
}

#main .area-hero.area-home {
    text-align: center;
    padding-bottom: 0
}

#main .area-hero.area-home .area-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#main .area-hero.area-home::after {
    display: none
}

#main .area-hero.area-action {
    background-image: url('../images/background.svg');
}

@media screen and (max-width: 735px) {
    #main .area-hero {
        background-image: none !important;
    }
}

#main .area-hero .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

#main .area-hero .hero-container .hero-left {
    margin-right: 60px
}

#main .area-hero .hero-container .elevated-button {
    width: 300px;
}

#main .area-hero .hero-container .hero-right a,
#main .area-hero .hero-container .hero-right p {
    display: none;
}

@media screen and (max-width: 735px) {
    #main .area-hero .hero-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start
    }
    #main .area-hero .hero-container .hero-left {
        display: none
    }
    #main .area-hero .hero-container .hero-right a,
    #main .area-hero .hero-container .hero-right p {
        display: block
    }
    #main .area-hero .hero-container .elevated-button {
        width: 230px
    }
}

@media screen and (max-width: 735px) {
    #main .card .card-media>svg {
        max-width: 200px
    }
}

#main .card.is-animatable,
#main .card-header.is-animatable {
    transform: translateY(150px);
    opacity: 0.1;
}

#main .card.fade-in,
#main .card-header.fade-in {
    animation: fade-in 1s ease forwards;
}

@-webkit-keyframes fade-in {
    to {
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes fade-in {
    to {
        transform: translateY(0);
        opacity: 1
    }
}

footer#pagefooter {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #999;
    font-size: 14px;
    font-weight: 700;
    font-family: inherit;
}

footer#pagefooter::before {
    content: '';
    top: 0;
    transform: translateX(-50%);
    display: block;
    height: 1px;
    background-color: #fff;
    opacity: .12
}

footer#pagefooter a {
    color: #666;
    transition: none;
}

footer#pagefooter a:hover {
    color: #a9a9a9;
}