/* purgecss start ignore */
.toolbox-styles * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
.toolbox-styles html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}
.toolbox-styles body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
}
.toolbox-styles form {
  width: 100%;
}
.toolbox-styles ul, .toolbox-styles ol, .toolbox-styles li, .toolbox-styles dl, .toolbox-styles dt, .toolbox-styles dd, .toolbox-styles h1, .toolbox-styles h2, .toolbox-styles h3, .toolbox-styles h4, .toolbox-styles h5, .toolbox-styles h6, .toolbox-styles hgroup, .toolbox-styles p, .toolbox-styles blockquote, .toolbox-styles figure, .toolbox-styles form, .toolbox-styles fieldset, .toolbox-styles input, .toolbox-styles legend, .toolbox-styles pre, .toolbox-styles abbr, .toolbox-styles button {
  padding: 0;
}
.toolbox-styles pre, .toolbox-styles code, .toolbox-styles address, .toolbox-styles caption, .toolbox-styles th, .toolbox-styles figcaption {
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
}
.toolbox-styles fieldset, .toolbox-styles iframe, .toolbox-styles img {
  border: 0;
}
.toolbox-styles caption, .toolbox-styles th {
  text-align: left;
}
.toolbox-styles table {
  border-collapse: collapse;
  border-spacing: 5;
}
.toolbox-styles article, .toolbox-styles aside, .toolbox-styles footer, .toolbox-styles header, .toolbox-styles nav, .toolbox-styles main, .toolbox-styles section, .toolbox-styles summary, .toolbox-styles details, .toolbox-styles hgroup, .toolbox-styles figure, .toolbox-styles figcaption {
  display: block;
}
.toolbox-styles audio, .toolbox-styles canvas, .toolbox-styles video, .toolbox-styles progress {
  display: inline-block;
  vertical-align: baseline;
}
.toolbox-styles input, .toolbox-styles select {
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
}
.toolbox-styles select {
  cursor: pointer;
}
.toolbox-styles button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}
.toolbox-styles button:disabled {
  cursor: default;
}
.toolbox-styles :focus {
  outline: none;
}
.toolbox-styles :focus[data-focus-method="mouse"]:not(input):not(textarea):not(select), .toolbox-styles :focus[data-focus-method="touch"]:not(input):not(textarea):not(select) {
  outline: none;
}
.toolbox-styles ::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.toolbox-styles html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 106.25%;
  quotes: "“" "”";
}
.toolbox-styles body {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #fff;
  color: #333;
  font-style: normal;
}
.toolbox-styles body, .toolbox-styles input, .toolbox-styles textarea, .toolbox-styles select, .toolbox-styles button {
  font-synthesis: none;
  font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left;
}
.toolbox-styles h1, .toolbox-styles h2, .toolbox-styles h3, .toolbox-styles h4, .toolbox-styles h5, .toolbox-styles h6 {
  color: #111;
}
.toolbox-styles h1 img, .toolbox-styles h2 img, .toolbox-styles h3 img, .toolbox-styles h4 img, .toolbox-styles h5 img, .toolbox-styles h6 img {
  display: block;
  margin: 0;
}
.toolbox-styles h1 + *, .toolbox-styles h2 + *, .toolbox-styles h3 + *, .toolbox-styles h4 + *, .toolbox-styles h5 + *, .toolbox-styles h6 + * {
  margin-top: 0.8em;
}
.toolbox-styles h1 + h1, .toolbox-styles h1 + h2, .toolbox-styles h1 + h3, .toolbox-styles h1 + h4, .toolbox-styles h1 + h5, .toolbox-styles h1 + h6, .toolbox-styles h2 + h1, .toolbox-styles h2 + h2, .toolbox-styles h2 + h3, .toolbox-styles h2 + h4, .toolbox-styles h2 + h5, .toolbox-styles h2 + h6, .toolbox-styles h3 + h1, .toolbox-styles h3 + h2, .toolbox-styles h3 + h3, .toolbox-styles h3 + h4, .toolbox-styles h3 + h5, .toolbox-styles h3 + h6, .toolbox-styles h4 + h1, .toolbox-styles h4 + h2, .toolbox-styles h4 + h3, .toolbox-styles h4 + h4, .toolbox-styles h4 + h5, .toolbox-styles h4 + h6, .toolbox-styles h5 + h1, .toolbox-styles h5 + h2, .toolbox-styles h5 + h3, .toolbox-styles h5 + h4, .toolbox-styles h5 + h5, .toolbox-styles h5 + h6, .toolbox-styles h6 + h1, .toolbox-styles h6 + h2, .toolbox-styles h6 + h3, .toolbox-styles h6 + h4, .toolbox-styles h6 + h5, .toolbox-styles h6 + h6 {
  margin-top: 0.4em;
}
.toolbox-styles p + h1, .toolbox-styles ul + h1, .toolbox-styles ol + h1, .toolbox-styles p + h2, .toolbox-styles ul + h2, .toolbox-styles ol + h2, .toolbox-styles p + h3, .toolbox-styles ul + h3, .toolbox-styles ol + h3, .toolbox-styles p + h4, .toolbox-styles ul + h4, .toolbox-styles ol + h4, .toolbox-styles p + h5, .toolbox-styles ul + h5, .toolbox-styles ol + h5, .toolbox-styles p + h6, .toolbox-styles ul + h6, .toolbox-styles ol + h6 {
  margin-top: 1.6em;
}
.toolbox-styles p + *, .toolbox-styles ul + *, .toolbox-styles ol + * {
  margin-top: 0.8em;
}
.toolbox-styles ul, .toolbox-styles ol {
  margin-left: 1.17647em;
}
.toolbox-styles ul ul, .toolbox-styles ul ol, .toolbox-styles ol ul, .toolbox-styles ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.toolbox-styles nav ul, .toolbox-styles nav ol {
  margin: 0;
  list-style: none;
}
.toolbox-styles li li {
  font-size: 1em;
}
.toolbox-styles a {
  color: #0076ba;
  transition: color 0.2s ease;
}
.toolbox-styles a:link, .toolbox-styles a:visited {
  text-decoration: none;
}
.toolbox-styles a:hover {
  color: #004d7f;
  text-decoration: none;
}
.toolbox-styles a:active {
  text-decoration: none;
}
.toolbox-styles p + a {
  display: inline-block;
}
.toolbox-styles b, .toolbox-styles strong {
  font-weight: 600;
}
.toolbox-styles em, .toolbox-styles cite, .toolbox-styles dfn {
  font-style: italic;
}
.toolbox-styles sup {
  font-size: 0.6em;
  vertical-align: top;
  position: relative;
  bottom: -0.2em;
}
.toolbox-styles h1 sup, .toolbox-styles h2 sup, .toolbox-styles h3 sup {
  font-size: 0.4em;
}
.toolbox-styles sup a {
  vertical-align: inherit;
  color: inherit;
}
.toolbox-styles sup a:hover {
  color: #004d7f;
  text-decoration: none;
}
.toolbox-styles sub {
  line-height: 1;
}
.toolbox-styles abbr {
  border: 0;
}
.toolbox-styles .error {
  border: 2px solid red;
}
.toolbox-styles :lang(ja), .toolbox-styles :lang(ko), .toolbox-styles :lang(th), .toolbox-styles :lang(zh) {
  font-style: normal;
}
.toolbox-styles :lang(ko) {
  word-break: keep-all;
}
.toolbox-styles .selfclear::before, .toolbox-styles .selfclear::after {
  content: " ";
  display: table;
}
.toolbox-styles .selfclear::after {
  clear: both;
}
.toolbox-styles .visuallyhidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}
.toolbox-styles .nowrap {
  display: inline-block;
  text-decoration: inherit;
  white-space: nowrap;
}
.toolbox-styles .clear {
  clear: both;
}
.toolbox-styles .cursor-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}
.toolbox-styles .cursor-grabbing {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.toolbox-styles [hidden] {
  display: none;
}
.toolbox-styles [data-switch-appearance] {
  color: #fff;
}
.toolbox-styles .typo-title {
  font-size: 45px;
  line-height: 1.08365;
  font-weight: 700;
  letter-spacing: -0.003em;
  font-family: inherit;
}
@media only screen and (max-width: 1068px) {
  .toolbox-styles .typo-title {
    font-size: 38px;
    line-height: 1.1;
    font-weight: 700;
    letter-spacing: 0em;
    font-family: inherit;
  }
}
@media only screen and (max-width: 735px) {
  .toolbox-styles .typo-title {
    font-size: 30px;
    line-height: 1.125;
    font-weight: 700;
    letter-spacing: 0.004em;
    font-family: inherit;
  }
}
.toolbox-styles .typo-subheader {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.toolbox-styles .typo-caption, .toolbox-styles .typo-footnote {
  display: block;
  width: 100%;
  margin-bottom: 14px;
  color: rgba(0, 0, 0, 0.54);
  font-size: 13px;
  font-weight: 400;
}
.toolbox-styles [data-switch-appearance] .typo-subheader, .toolbox-styles [data-switch-appearance] .typo-caption, .toolbox-styles [data-switch-appearance] .typo-footnote {
  color: rgba(255, 255, 255, 0.45);
}
.toolbox-styles .typo-subheader + p {
  margin-top: -8px;
  font-size: 17px;
  font-family: inherit;
  font-weight: 600;
}
.toolbox-styles .toolbox-field {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 8px;
  padding: 16px;
  text-align: left;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.23);
  border-radius: 14px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}
.toolbox-styles [data-switch-appearance] .toolbox-field {
  color: rgba(255, 255, 255, 0.9);
  background-color: #272835;
}
.toolbox-styles .toolbox-field:hover {
  transform: scale(0.99);
}
.toolbox-styles .toolbox-field:active {
  transform: scale(0.96);
  /* Chrome ignores :active in case of :focus being set */
  /* .toolbox-field:focus {
   transform: scale(1);
   background-color: rgba(0,0,0,.28);
   } */
}
.toolbox-styles .toolbox-field + .typo-caption {
  margin-top: -4px;
}
.toolbox-styles .toolbox-field + .typo-subheader {
  margin-top: 20px;
}
.toolbox-styles .toolbox-field.shrinks {
  width: calc(50% - 8px);
  margin-bottom: 16px;
}
.toolbox-styles .toolbox-field.selected {
  color: #000;
  background-color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.1);
}
.toolbox-styles .toolbox-field::-webkit-input-placeholder {
  /* Edge */
  color: rgba(255, 255, 255, 0.4);
}
.toolbox-styles .toolbox-field:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(255, 255, 255, 0.4);
}
.toolbox-styles .toolbox-field::placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.toolbox-styles .toolbox-field .material-icons {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.toolbox-styles .toolbox-field .selection-icon {
  display: none;
}
.toolbox-styles .toolbox-checkbox {
  display: none;
}
.toolbox-styles label.toolbox-field {
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.toolbox-styles .toolbox-field .selection-icon {
  display: none;
}
.toolbox-styles .toolbox-checkbox:checked + .toolbox-field {
  color: #000;
  background-color: #fff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3), 0 3px 8px rgba(0, 0, 0, 0.1);
}
.toolbox-styles .toolbox-checkbox:checked + .toolbox-field .selection-icon {
  display: block;
}
.toolbox-styles .inline-button {
  display: block;
}
.toolbox-styles .inline-button .material-icons {
  transform: translateY(5px);
  margin-right: 4px;
}
.toolbox-styles .elevated-button {
  display: block;
  width: 230px;
  max-width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  font-family: inherit;
  color: #fff;
  background-color: #0076ba;
  border-radius: 14px;
  box-shadow: 0 8px 21px 0px rgba(0, 118, 186, 0.5);
  transition: 0.2s ease;
}
.toolbox-styles .elevated-button:hover {
  transform: scale(0.98);
}
.toolbox-styles .elevated-button:active {
  transform: scale(0.94);
  box-shadow: 0 5px 10px 0px rgba(0, 118, 186, 0.4);
}
.toolbox-styles .unit-figure {
  font-family: inherit;
  font-size: 60px;
  font-weight: 200;
  line-height: 60px;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.toolbox-styles .unit-figure::after {
  content: attr(data-unit);
  font-family: inherit;
  font-size: 22px;
  font-weight: 800;
  line-height: 25px;
  margin-left: 6px;
}
.toolbox-styles .unit-figure.grey {
  background-image: -webkit-linear-gradient(90deg, #b4b4bc 0%, #5f5e69 100%);
  background-image: linear-gradient(90deg, #b4b4bc 0%, #5f5e69 100%);
}
.toolbox-styles .unit-figure.blue {
  background-image: -webkit-linear-gradient(90deg, #23ccfb 0%, #1b8ffe 100%);
  background-image: linear-gradient(90deg, #23ccfb 0%, #1b8ffe 100%);
}
.toolbox-styles .unit-figure.purple {
  background-image: -webkit-linear-gradient(90deg, #9a74ed 0%, #4f3ec8 100%);
  background-image: linear-gradient(90deg, #9a74ed 0%, #4f3ec8 100%);
}
.toolbox-styles .unit-figure.pink {
  background-image: -webkit-linear-gradient(90deg, #ef77b6 0%, #a22caf 100%);
  background-image: linear-gradient(90deg, #ef77b6 0%, #a22caf 100%);
}
.toolbox-styles .unit-figure.cyan {
  background-image: -webkit-linear-gradient(120deg, #59d0f9 0%, #60c27a 100%);
  background-image: linear-gradient(120deg, #59d0f9 0%, #60c27a 100%);
}
.toolbox-styles .icon-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
.toolbox-styles .typo-subheader + .icon-header {
  margin-top: 2px;
}
.toolbox-styles .icon-header .icon-header-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  width: 50px;
  height: 50px;
  font-size: 33px;
  border-radius: 100%;
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.15);
}
.toolbox-styles .icon-header-title {
  color: inherit;
}
.toolbox-styles [data-switch-appearance] .icon-header {
  color: #fff;
}
.toolbox-styles #toolbox {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}
.toolbox-styles #toolbox > section {
  height: 100%;
}
.toolbox-styles #toolbox section.meta-content {
  position: relative;
  width: 30%;
  padding: 30px 10px;
  padding-right: 30px !important;
}
.toolbox-styles #toolbox section.meta-content #meta-back {
  font-weight: 700;
}
.toolbox-styles #toolbox section.meta-content #meta-back .material-icons {
  background-color: #0076ba;
  color: #fff;
  border-radius: 4px;
  transform: scale(0.8) translateY(7px);
  transition: 0.2s ease;
}
.toolbox-styles #toolbox section.meta-content #meta-back:hover .material-icons {
  background-color: #004d7f;
  color: #eee;
}
.toolbox-styles #toolbox section.meta-content h1 {
  margin-top: 45px;
}
.toolbox-styles #toolbox section.meta-content h1 + * {
  margin-top: 5px;
}
.toolbox-styles #toolbox section.meta-content h1 + .inline-button {
  margin-bottom: 25px;
}
.toolbox-styles #toolbox section.meta-content p {
  max-width: 270px;
}
.toolbox-styles #toolbox section.meta-content .progress-indicator {
  position: absolute;
  left: 10px;
  bottom: 20px;
  width: 180px;
  padding: 5px;
  height: 18px;
  border-radius: 50px;
  background-color: rgba(214, 213, 213, 0.37);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(10px);
}
.toolbox-styles #toolbox section.meta-content .progress-indicator > div {
  width: 50%;
  height: 100%;
  border-radius: 50px;
  background-color: #0076ba;
  transition: 0.2s ease;
}
.toolbox-styles #toolbox section.selection-content {
  width: 70%;
  padding: 40px;
  padding-top: 75px;
  overflow-y: scroll;
  background-image: linear-gradient(170deg, #95dede 10%, #5fd4d8 90%);
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.toolbox-styles #toolbox section.selection-content[data-switch-appearance] {
  background-image: linear-gradient(0deg, #1d1e27 0%, #1d1e27 100%);
}
.toolbox-styles #toolbox section.selection-content div.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.toolbox-styles #toolbox section.selection-content div.box {
  width: 100%;
  height: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.toolbox-styles #toolbox section.selection-content div.tile-box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.toolbox-styles #toolbox section.selection-content div.tile-box .toolbox-field {
  display: inline;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 6px;
}
@media screen and (min-width: 736px) {
  .toolbox-styles #toolbox section.meta-content #meta-help::after {
    content: " erhalten";
  }
  .toolbox-styles #toolbox section.selection-content div.tile-box {
    /* 2 spalten*/
    max-width: 400px;
  }
}
@media screen and (min-width: 986px) {
  .toolbox-styles #toolbox section.selection-content div.tile-box {
    /* 3 spalten*/
    max-width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .toolbox-styles #toolbox section.selection-content > div.box {
    max-width: 80%;
  }
  .toolbox-styles #toolbox section.meta-content {
    padding-left: 35px;
    padding-right: 40px !important;
  }
}
@media screen and (min-width: 1272px) {
  .toolbox-styles #toolbox section.selection-content div.tile-box {
    /* 4 spalten */
    max-width: 800px;
  }
}
@media screen and (min-width: 1500px) {
  .toolbox-styles #toolbox section.meta-content {
    padding-left: 50px;
    padding-right: 50px !important;
  }
}
@media screen and (min-width: 1558px) {
  .toolbox-styles #toolbox section.selection-content div.tile-box {
    /* 4 spalten */
    max-width: 1000px;
  }
}
@media screen and (min-width: 1844px) {
  .toolbox-styles #toolbox section.selection-content div.tile-box {
    /* 5 spalten */
    max-width: 1200px;
  }
}
@media screen and (min-width: 2129px) {
  .toolbox-styles #toolbox section.selection-content div.tile-box {
    /* 6 spalten */
    max-width: 1400px;
  }
}
@media screen and (max-width: 735px) {
  .toolbox-styles #toolbox {
    padding: 0;
  }
  .toolbox-styles #toolbox > section {
    width: 100% !important;
    height: auto;
    padding: 20px !important;
  }
  .toolbox-styles #toolbox > .meta-content > *:last-child {
    margin-bottom: 10px !important;
  }
  .toolbox-styles #toolbox section.meta-content .progress-indicator {
    width: 100px;
    top: 30px;
    left: 50%;
    bottom: auto;
    transform: translateX(-50%);
  }
  .toolbox-styles #toolbox section.meta-content #meta-help {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
  }
  .toolbox-styles #toolbox > section.selection-content {
    width: 100% !important;
    height: auto;
    overflow-y: auto;
    padding-top: 27px !important;
    border-radius: 0 !important;
  }
}
@media screen and (max-width: 636px) {
  .toolbox-styles #toolbox section.selection-content div.tile-box .toolbox-field {
    width: calc(50% - 5px);
    margin-right: 0;
    margin-bottom: 8px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .toolbox-styles #toolbox section.selection-content div.tile-box .toolbox-field:nth-of-type(2n - 1) {
    margin-right: 5px;
  }
}
@media screen and (max-width: 436px) {
  .toolbox-styles #toolbox section.selection-content div.tile-box .toolbox-field:nth-of-type(2n - 1) {
    margin-right: 5px;
  }
  .toolbox-styles .unit-figure {
    font-size: 50px;
  }
  .toolbox-styles .unit-figure::after {
    font-size: 18px;
  }
}
.toolbox-styles #loader {
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* purgecss end ignore */
