<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<div class="w-full bg-red-400 text-center p-2 border-2 border-red-700 rounded-lg mt-4">
    <p>
      Leider ist etwas schief gelaufen und deine Anfrage konnte nicht gefunden werden. Versuche es erneut oder kontaktiere uns
      <a href="/contactUs" class="underline hover:text-gray-600">
        hier
      </a>
    </p>
</div>

<div class="text-center text-gray-500 text-sm m-6 mt-auto">
  <p>© 2020 Wirkaufendeinhandy GbR</p>
  <p class="text-black">
    <nuxt-link class="hover:text-blue-900" to="/imprint">
      Impressum
    </nuxt-link> | <nuxt-link class="hover:text-blue-900" to="/privacy">
      Datenschutz
    </nuxt-link> | <nuxt-link class="hover:text-blue-900" to="/agb">
      AGB
    </nuxt-link>
  </p>
</div>